<head>
 <%= stylesheet_link_tag "service_orders" %>
</head> 
<body>
  <div class="header">
    <div class="header-text">
      <h2>New Service Order</h2>
      
    </div>  
  </div>  
  <div class="box-for-form">
    <%= render 'form', service_order: @service_order %>
    <%= link_to 'Back', service_orders_path %>
  </div>
</body>
