// Place all the styles related to the ServiceOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

// Use in only service_order
body {
    margin: 0;
    background-color: #B2D732;
}


.middle-box {
    margin-top: 5%;
    margin-left: 20%;
    margin-right:22%;
    padding:2%;

    border: solid;
    border-radius: 2px;
    border-width: 3px;
    box-shadow: inset 0 0 3px #000;

    background-color: #F0F7D4;
}

.button {
    padding: 5%;
    padding-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #3E7CEF;
    color: #F0F7D4;
    text-align: center;
    cursor: pointer;  
    outline: none; 
}

.button:hover {
    background-color: #F0F7D4;
    border:solid;
    box-shadow: 0 2px #999;
}

.button:active {
    background-color: #DEEEA0;
    border:solid;
    box-shadow: 0 2px #999;
}

.buttona {
    margin-left: 90%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #3E7CEF;
    color: #F0F7D4;
    text-align: center;
    cursor: pointer;  
    outline: none; 
}

.buttona:hover {
    background-color: #F0F7D4;
    border:solid;
    box-shadow: 0 2px #999;
}

.buttona:active {
    background-color: #DEEEA0;
    border:solid;
    box-shadow: 0 2px #999;
}



table {
    border-collapse: separate ;
    width: 100%;
}

td {
    text-size-adjust: 10px;
}

td.a {
   padding-left: 4%;
}


// use for service_orders/new 

.box-for-form {
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    padding: 3%;
    background-color: #F0F7D4;
}

//  For only form

.line1 {
    background-color: #E6F4AE;
    margin-bottom: 1%;
    margin-top: 1%;
}

.form-date {
    margin: 2%;
    margin-left: 54.9%;
}

.form-loc {
    margin-left: 57.2%;
}

.form-first-name {
    margin-left: 52%;
}

.form-last-name {
    margin-left: 49.54%;
}

.form-prefix {
    margin-left: 32.87%;
}

.form-phone-number {
   margin-left: 41.94%;
}

.form-email {
    margin-left: 50.9%;
}

.form-device-name {
    margin-left: 51.14%;
}

// .container input {
//     position: absolute;
//     opacity: 0;
//     cursor: pointer;
//     height: 0;
//     width: 0;
//   }

.form-checkbox {

    position: absolute;
    height: 25px;
    width: 39%;
    background-color: #eee;
}

.form-device-password {
    margin-left: 59.07%;
}

.form-device-extras {
    margin-left: 47.5%;
}

.form-device-saveable-info {
    margin-left: 39.67%;
}

.form-device-defect {
    margin-left: 57.881%;
}

.form-device-additional-info {
    margin-left: 52.24%;
}

.form-button {
    margin-left: 77%;
    margin-top: 3%;
}

// Use only for Show

.show-box {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 7%;
    padding:1%;

    border: solid;
    border-radius: 2px;
    border-width: 3px;
    box-shadow: inset 0 0 3px #000;

    background-color: #F0F7D4;
}

.show-table {
    margin:0;
    padding: auto;
}

.show-button {
    margin-left: 48%;
    margin-top: 2%;
}

.button-show {
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #3E7CEF;
    color: #F0F7D4;
    text-align: center;
    cursor: pointer;  
    outline: none; 
}

.button-show:hover {
    background-color: #F0F7D4;
    border:solid;
    box-shadow: 0 2px #999;
}

.button-show:active {
    background-color: #DEEEA0;
    border:solid;
    box-shadow: 0 2px #999;
}
  
