// Place all the styles related to the ServiceOrders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

body {
    margin: 0;
    background-color: #B2D732;
}

.header {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
    background-color: #110934;
}

.header-text {
    color:#B2D732;
    font-size: 24px;
    padding-right: 1px;
    width: auto;
}

// .header-option {
//     font-size: 15px;
// }


.middle-box {
    margin-top: 10%;
    margin-left: 33%;
    margin-right:35%;
    padding:2%;

    border: solid;
    border-radius: 2px;
    border-width: 3px;
    box-shadow: inset 0 0 3px #000;

    background-color: #F0F7D4;


}


.tbody {

}