@import 'bootstrap';

h2 {
    color: #000;
    margin-top: 5%;
    margin-left: 20%;
    padding-bottom: 10%;
  
  }
   
body {
    color:#000000;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    margin-width:0;
    margin-height:0;
    background-color: #00BFFF; 
    font-family: Dejavu Sans;

}

.login_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 2.5%;
    padding-top: 3%;
    box-shadow: 0px 0px 1px 1px rgb(99, 99, 99);
    background-color: white;
}

.login_field {
    background-color: rgb(245, 244, 244) ;
    text-decoration-color: rgb(175, 175, 175);
    margin:5px;
}

.login_button {
    background-color: #00BFFF;
    color: white;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 33%;
    padding-left: 36%;
    margin: 10px;
    margin-left:4px;
    
    
}